.navigation {
  font-family: 'VT323', monospace;
  background-color: #042D5B;
  list-style: none;
}

.landing {
  display: flex;
  background-color: #042D5B;
  min-height: 500px;
  color: #F2CB6C;
  text-align: center;
  font-family: 'VT323', monospace;
  justify-content: center;
  align-items: center;
  /* uncomment if using an image*/

 /* background-size: cover;
  background-repeat: no-repeat;*/
}

.landing h1 {
  font-size: 70px;
}

.landing span {
  font-size: 30px;
}

.about-me {
  font-family: 'VT323', monospace;
  text-align: center;
  background-color: #042D5B;
  color: #F2CB6C;
}

.about-me span {
  font-size: 20px;
}

.projects {
  font-family: 'VT323', monospace;
  color: white;
  background-color: #042D5B;
  text-align: center;
  color: #F2CB6C;
}

.projects span {
  font-size: 20px;
}

.divider {
  min-height: 30px;
  background-color: white;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
