.navbar {
  font-family: 'VT323', monospace;
  margin: 0;
  border: none;
  font-size: 25px;
}

.landing {
  display: flex;
  background-color: #363F48;
  min-height: 500px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'VT323', monospace;
  justify-content: center;
  align-items: center;
  /* uncomment if using an image*/

 /* background-size: cover;
  background-repeat: no-repeat;*/
}

.landing h1 {
  font-size: 70px;
}

.landing span {
  font-size: 30px;
}

.about-me {
  text-align: center;
}

.projects {
  font-family: 'VT323', monospace;
  min-height: 500px;
  color: white;
  background-color: blue;
  text-align: center;
}

.projects span {
  font-size: 15px;
}

#projects-title {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
}

