nav {
  background-color: #000000;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  color: black;
  display: transparent;
}
nav .brand-logo {
  padding-left: 15px;
}

body {
 background-color: #000000;
}

.landing {
  display: flex;
  background-color: #FFEB3B;
  min-height: 500px;
  color: #000000;
  text-align: center;
  font-family: 'VT323', monospace;
  justify-content: center;
  align-items: center;
  /* uncomment if using an image*/
 /* background-size: cover;
  background-repeat: no-repeat;*/
}

.landing h1 {
  font-size: 70px;
}

.landing span {
  font-size: 30px;
}

.about-me {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FFEB3B;
  color: #000000;
}

.about-me span {
  font-size: 20px;
}

.about-me h1 {
  font-family: 'VT323', monospace;
}

.projects {
  color: white;
  background-color: #FFEB3B;
  text-align: center;
  color: #000000;
  padding-bottom: 2.1rem;
}

.projects span {
  font-size: 20px;
}

.projects h1, h2 {
  font-family: 'VT323', monospace;
}

.divider {
  min-height: 30px;
  background-color: #000000;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.no-margin {
  margin-bottom: 0;
}

a:focus, a:hover {
  text-decoration: none;
  color: #FFEB3B;
}

#technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
